@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  color: #102851;
  line-height: 1.6;
  background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #fff 75%);
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  max-width: 100vw;
  padding: 0 10rem;
  margin: 0 auto;
  overflow: auto;
}

i {
  margin-right: 1rem;
}

.btn {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  border: none;
  border-radius: 0.5rem;
  color: #f3f6fd;
  cursor: pointer;
}

.btn__primary {
  background: #014ed5;
  padding: 1.3rem 3rem;
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
}

.btn__primary:hover {
  background: #102851;
}

.btn__secondary {
  font-size: clamp(0.5rem, 4vw, 1.3rem);
  padding: clamp(0.5rem, 3vmin, 1.5rem);
  background: #102851;
  -webkit-transition: background 250ms ease-in;
  transition: background 250ms ease-in;
}

.btn__secondary:hover {
  background: #014ed5;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 3rem;
  z-index: 99;
}

.navbar .logo {
  width: 10%;
  margin-right: 5rem;
  margin-top: 0.7rem;
}

.navbar nav {
  width: 100%;
}

.navbar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 1rem;
}

.navbar nav ul li:nth-of-type(3) {
  margin-right: auto;
}

.navbar nav ul .left-li a {
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  font-weight: 600;
}

.navbar nav ul .left-li a:hover {
  color: #014ed5;
}

.navbar nav ul .rigth-li .login {
  -webkit-transition: color 200ms ease-in;
  transition: color 200ms ease-in;
  font-weight: 600;
}

.navbar nav ul .rigth-li .login:hover {
  color: #014ed5;
}

.navbar nav ul a {
  padding: 1rem 2rem;
  margin: 0 0.5rem;
}

#hero {
  background: url(../images/backgrounds/hero-bg.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  width: 100%;
}

#hero .content {
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

#hero .content h1 {
  font-weight: 700;
  font-size: clamp(3rem, 5vw, 8rem);
}

#hero .content p {
  color: #a6adbb;
  font-size: clamp(0.5rem, 4vw, 1.8rem);
  margin: 3rem 0;
}

#hero .content .hero__btns {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}

#hero .content .hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: Max(45%, 100rem);
}

#hero .content .more-tag__btn {
  padding: 0.5rem 1rem;
  background: #ccdfff;
  color: #014ed5;
  font-weight: 500;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#hero .content .more-tag__btn:hover {
  background: #014ed5;
  color: #fff;
}

#serach__area {
  -webkit-transform: translateY(-11.5rem);
          transform: translateY(-11.5rem);
}

#serach__area .search__area--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 150rem;
  width: clamp(85%, 25vw, 150rem);
  border-radius: 1rem;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(30%, #fdfdfd), to(#fff));
  background: linear-gradient(to top right, #fdfdfd 30%, #fff);
  -webkit-box-shadow: 1rem 1.5rem 3rem 2rem #eff4ff;
          box-shadow: 1rem 1.5rem 3rem 2rem #eff4ff;
  padding: 3.5rem;
  margin: 0 auto;
}

#serach__area .search__area--wrapper .boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#serach__area .search__area--wrapper .boxes .box {
  width: 40%;
  min-width: 33rem;
  background: #fafbfe;
  border-radius: 1rem;
  padding: 0 1.5rem;
  border: 1px solid #d9dddc;
  margin-right: 3rem;
  outline: none;
}

#serach__area .search__area--wrapper .boxes .box input:focus,
#serach__area .search__area--wrapper .boxes .box input:active {
  outline: none;
}

#serach__area .search__area--wrapper .boxes .box:focus-within {
  border: 1px solid #014ed5;
}

#serach__area .search__area--wrapper .boxes .search-btn {
  height: 100%;
  text-align: center;
}

#serach__area .search__area--wrapper .boxes input {
  border: none;
  width: 90%;
  background: transparent;
  padding: 2rem 0;
}

#serach__area .search__area--wrapper h4 {
  padding: 2rem 7rem;
  font-size: clamp(0.5rem, 4vw, 2rem);
}

#serach__area .search__area--wrapper .tags {
  width: 100%;
  padding: 0 4rem;
}

#serach__area .search__area--wrapper .tags .search-area__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#serach__area .search__area--wrapper .tags .search-area__tags li {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #f3f6fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#serach__area .search__area--wrapper .tags .search-area__tags li:hover {
  color: #014ed5;
}

#serach__area .search__area--wrapper .tags .search-area__tags li i {
  cursor: pointer;
}

#popular-search-area {
  padding: 3rem 0;
}

#popular-search-area .popular-search__wrapper h2 {
  font-size: clamp(1rem, 5vw, 4.5rem);
  font-weight: 600;
  margin-bottom: 5rem;
}

#popular-search-area .popular-search__wrapper .popular-search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#popular-search-area .popular-search__wrapper .popular-search__lists {
  border-right: 2px solid #014ed5;
  width: 8%;
}

#popular-search-area .popular-search__wrapper .popular-search__lists .search__list {
  margin: 1.6rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #a6adbb;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#popular-search-area .popular-search__wrapper .popular-search__lists .search__list:nth-of-type(1) {
  color: #102851;
}

#popular-search-area .popular-search__wrapper .popular-search__lists .search__list:hover {
  color: #102851;
}

#popular-search-area .popular-search__wrapper .popular-search__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem 2rem;
  width: 80%;
}

#popular-search-area .popular-search__wrapper .popular-search__items img {
  width: 4.8rem;
}

#popular-search-area .popular-search__wrapper .popular-search__items .box {
  width: 20rem;
  padding: 3rem;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(30%, #fdfdfd), to(#fff));
  background: linear-gradient(to top right, #fdfdfd 30%, #fff);
  -webkit-box-shadow: 0.5rem 0.3rem 2rem 0.5rem #eff4ff;
          box-shadow: 0.5rem 0.3rem 2rem 0.5rem #eff4ff;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

#popular-search-area .popular-search__wrapper .popular-search__items .box h5 {
  font-size: 1.3rem;
}

#popular-search-area .popular-search__wrapper .popular-search__items .box:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  color: #014ed5;
}

#find-doctor {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#find-doctor .find-doctor__wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem 2rem;
      grid-template-areas: "find-doctor__content find-doctor__image";
}

#find-doctor .find-doctor__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

#find-doctor .find-doctor__content .content--title h2 {
  font-size: clamp(1rem, 5vw, 4.5rem);
  font-weight: 600;
}

#find-doctor .find-doctor__content .content--title p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: #a6adbb;
  margin: 2rem 0 5rem;
}

#find-doctor .find-doctor__content .content__items .item {
  margin: 2rem 0;
}

#find-doctor .find-doctor__content .content__items .item .item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#find-doctor .find-doctor__content .content__items .item .item__title i {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.9rem;
}

#find-doctor .find-doctor__content .content__items .item .item__info {
  border-left: 2px solid #d9dddc;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#find-doctor .find-doctor__content .content__items .item .item__info:hover {
  border-color: #014ed5;
  -webkit-box-shadow: 0.5rem 0.3rem 2rem 0.5rem #eff4ff;
          box-shadow: 0.5rem 0.3rem 2rem 0.5rem #eff4ff;
  cursor: pointer;
}

#find-doctor .find-doctor__content .content__items .item1 i {
  color: #7b4be3;
  background: #eeeefd;
}

#find-doctor .find-doctor__content .content__items .item2 i {
  color: #035cb7;
  background: #e4ecfc;
}

#find-doctor .find-doctor__content .content__items .item3 i {
  color: #12aa15;
  background: #def7f7;
}

#find-doctor .find-doctor__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
}

#find-doctor .find-doctor__image img {
  width: Max(50rem, 50px);
  -webkit-transform: translateX(15rem);
          transform: translateX(15rem);
  padding-top: 5rem;
}

#find-doctor .find-doctor__image .search-doctor {
  width: Max(20rem, 20px);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(30%, #fdfdfd), to(#fff));
  background: linear-gradient(to top right, #fdfdfd 30%, #fff);
  -webkit-box-shadow: 0.5rem 0.3rem 2rem 0.5rem #eff4ff;
          box-shadow: 0.5rem 0.3rem 2rem 0.5rem #eff4ff;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 17rem;
  left: 2rem;
}

#find-doctor .find-doctor__image .search-doctor h3 {
  margin-bottom: 2rem;
}

#find-doctor .find-doctor__image .search-doctor .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #fafbfe;
  border-radius: 0.5rem;
  border: 1px solid #d9dddc;
  outline: none;
  padding: 0 0.5rem;
  margin: 0.5rem;
}

#find-doctor .find-doctor__image .search-doctor .box:focus-within {
  border: 1px solid #014ed5;
}

#find-doctor .find-doctor__image .search-doctor .box input {
  width: 100%;
  padding: 1.5rem 0;
  background: transparent;
  border: none;
  outline: none;
}

#find-doctor .find-doctor__image .doctor-search-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: clamp(0.3rem, 3vmin, 1rem);
  margin-top: 1rem;
}

#wecare-area {
  background: #eff4ff;
}

#wecare-area .wecare__wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1.5fr, 1fr;
      grid-template-columns: 1.5fr, 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem 2rem;
      grid-template-areas: "wecare--left wecare--right";
}

#wecare-area .wecare__wrapper .wecare--left {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__image img {
  width: Max(60rem, 20px);
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box {
  border-radius: 1rem;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(30%, #fdfdfd), to(#fff));
  background: linear-gradient(to top right, #fdfdfd 30%, #fff);
  -webkit-box-shadow: 0.5rem 0.3rem 2rem 0.5rem #ccdfff;
          box-shadow: 0.5rem 0.3rem 2rem 0.5rem #ccdfff;
  width: 30%;
  position: absolute;
  top: 15rem;
  right: 4rem;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box .box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box .box__item .item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box .box__item .item__wrapper:hover {
  -webkit-box-shadow: inset 0.3rem 0.3rem 1rem 0.5rem #eff4ff;
          box-shadow: inset 0.3rem 0.3rem 1rem 0.5rem #eff4ff;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #014ed5;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box .box__item .item__wrapper .item--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box .box__item .item__text {
  margin-right: auto;
}

#wecare-area .wecare__wrapper .wecare--left .wecare__box .box__item img {
  width: Max(6rem, 20px);
  height: Max(6rem, 20px);
  border-radius: 50%;
  margin: 0.5rem;
}

#wecare-area .wecare__wrapper .wecare--right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding: 10rem 3rem;
}

#wecare-area .wecare__wrapper .wecare--right h2 {
  font-size: clamp(1rem, 5vw, 4.5rem);
  font-weight: 600;
}

#wecare-area .wecare__wrapper .wecare--right > p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: #a6adbb;
  margin: 2rem 0 5rem;
}

#wecare-area .wecare__wrapper .wecare--right .wecare__list {
  margin-bottom: 2rem;
}

#wecare-area .wecare__wrapper .wecare--right .wecare__list .wecare__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wecare-area .wecare__wrapper .wecare--right .wecare__list .wecare__item i {
  font-size: 2.5rem;
  color: #014ed5;
}

#specialist__area {
  margin-top: 10rem;
}

#specialist__area .specialist__wrapper .specialist__title {
  text-align: center;
}

#specialist__area .specialist__wrapper .specialist__title h2 {
  font-size: clamp(1rem, 5vw, 4.5rem);
  font-weight: 600;
}

#specialist__area .specialist__wrapper .specialist__title p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: #a6adbb;
  margin: 2rem 0 5rem;
}

#specialist__area .specialist__wrapper .specialist__doctors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#specialist__area .specialist__wrapper .specialist__doctors .doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  border-radius: 1rem;
  background: #f6faf9;
  padding: 2rem;
  margin: 1.5rem;
}

#specialist__area .specialist__wrapper .specialist__doctors .doctor .doctor__image {
  background: #d9dddc;
  border-radius: 1rem;
}

#specialist__area .specialist__wrapper .specialist__doctors .doctor .doctor__image img {
  width: Max(30rem, 20px);
  -webkit-transform: translateY(0.7rem);
          transform: translateY(0.7rem);
}

#patient__area {
  margin: 10rem 0;
  background: #eff4ff;
}

#patient__area .patient__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#patient__area .patient__wrapper .patient__title {
  width: 100%;
  text-align: center;
  padding-top: 10rem;
}

#patient__area .patient__wrapper .patient__title h2 {
  font-size: clamp(1rem, 5vw, 4.5rem);
  font-weight: 600;
}

#patient__area .patient__wrapper .patient__title p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: #a6adbb;
}

#patient__area .patient__wrapper .patient__info {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#patient__area .patient__wrapper .patient__info .patient__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

#patient__area .patient__wrapper .patient__info .patient__image img {
  width: Max(60rem, 20px);
}

#patient__area .patient__wrapper .patient__info .patient__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
  padding: 3rem;
}

#patient__area .patient__wrapper .patient__info .patient__content .content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#patient__area .patient__wrapper .patient__info .patient__content .content__title .content__title--left img {
  width: 10rem;
  background: #00dabe;
  border-radius: 1rem;
}

#patient__area .patient__wrapper .patient__info .patient__content .title--right__rating i {
  margin-right: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#patient__area .patient__wrapper .patient__info .patient__content .title--right__rating i:hover {
  color: #fec565;
  cursor: pointer;
}

#patient__area .patient__wrapper .patient__info .patient__content .content__about {
  margin-top: 2rem;
}

#subscribe__area {
  margin: 20rem 0;
}

#subscribe__area .subscribe__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30rem;
  max-width: 120rem;
  width: clamp(85%, 25vw, 120rem);
  background: #014ed5;
  color: #fff;
  text-align: center;
  border-radius: 1.5rem;
  margin: 0 auto;
}

#subscribe__area .subscribe__wrapper h2 {
  font-size: clamp(1rem, 5vw, 4.5rem);
  font-weight: 600;
  margin: 1rem 3rem;
  margin-bottom: 5rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  border-radius: 0.5rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box input {
  background: transparent;
  border: none;
  padding: 1rem;
  outline: none;
  width: 27rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box input:-ms-input-placeholder {
  font-size: 1.5rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box input::-ms-input-placeholder {
  font-size: 1.5rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box input::placeholder {
  font-size: 1.5rem;
}

#subscribe__area .subscribe__wrapper .subscribe__input--box a {
  margin: 0.5rem;
}

#footer .footer__wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: (minmax(auto, 1fr))[5];
      grid-template-columns: repeat(5, minmax(auto, 1fr));
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem;
  padding: 3rem 1.5rem;
}

#footer .footer__wrapper .footer__about {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

#footer .footer__wrapper .footer__about img {
  width: Max(20rem, 10rem);
}

#footer .footer__wrapper .footer__about h3 {
  font-size: 2.5rem;
}

#footer .footer__wrapper .footer__about p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  color: #a6adbb;
}

#footer .footer__wrapper .footer__about .footer__about--social-media {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer__wrapper .footer__about .footer__about--social-media i {
  margin-right: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1.2rem;
  border: 2px solid #eff4ff;
  color: #014ed5;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

#footer .footer__wrapper .footer__about .footer__about--social-media i:hover {
  color: #fff;
  background-color: #014ed5;
  -webkit-box-shadow: 0 0.5rem 3rem 0.1rem #eff4ff;
          box-shadow: 0 0.5rem 3rem 0.1rem #eff4ff;
  cursor: pointer;
}

#footer .footer__wrapper ul {
  font-size: 1.5rem;
  line-height: 4.8rem;
}

#footer .footer__wrapper a {
  padding-bottom: 0.5rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#footer .footer__wrapper a:hover {
  color: #014ed5;
}

#footer .footer__wrapper .footer__patient {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

#footer .footer__wrapper .footer__provider {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
}

#footer .footer__wrapper .footer__partner {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1 / 4 / 2 / 5;
}

#footer .footer__wrapper .footer__company {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 1 / 5 / 2 / 6;
}
