.btn {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  outline: 0;
  border: none;
  border-radius: $border-radius-sm;
  color: $light-color;
  cursor: pointer;

  // padding: 1.3rem 3rem;
}

.btn__primary {
  background: $primary-color;
  padding: 1.3rem 3rem;
  transition: background 250ms ease-in;

  &:hover {
    background: $secondary-color;
  }
}

.hero__btns {
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.hero__btn {
  background: $secondary-color;
  transition: background 250ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(0.5rem, 3vmin, 1.5rem);
  width: 45%;
  font-size: clamp(0.5rem, 4vw, 1.3rem);

  &:hover {
    background: $primary-color;
  }
}
