#patient__area {
  margin: 10rem 0;
  background: $light-blue;

  .patient__wrapper {
    display: flex;
    flex-direction: column;

    .patient__title {
      width: 100%;
      text-align: center;
      padding-top: 10rem;

      h2 {
        font-size: clamp(1rem, 5vw, 4.5rem);
        font-weight: 600;
      }

      p {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        color: $light-text-color;
        margin-bottom: 8rem;
      }
    }

    .patient__info {
      display: grid;
      grid-auto-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      gap: 2rem;
      justify-content: center;
      align-items: center;

      .patient__image {
        grid-area: 1 / 1 / 2 / 2;
        width: Min(100%, 50rem);
        height: 100%;
        background-color: $light-blue-btn;
        border-radius: 22% 50% 20% 0%;
        box-shadow: 0 0 0 1.9rem $light-blue, 0 0 0 2rem #8198a083;

        .patient--img-file {
          width: 100%;
          height: 100%;
          aspect-ratio: 1;
          background-image: url(../images/patient/patient.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }

      .patient__content {
        grid-area: 1 / 2 / 2 / 3;
        padding: 3rem;

        .content__title {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2rem;
          .content__title--left {
            img {
              width: 10rem;
              background: #00dabe;
              border-radius: $border-radius-md;
            }
          }
        }

        .title--right__rating {
          i {
            margin-right: 0;
            transition: 300ms;

            &:hover {
              color: #fec565;
              cursor: pointer;
            }
          }
        }

        .content__about {
          margin-top: 2rem;
        }
      }
    }
  }
}
