#patient__area {
  margin: 10rem 0;
  background: $light-blue;
  // background: url("../images/backgrounds/service-bg2.jpg");

  .patient__wrapper {
    display: flex;
    flex-direction: column;

    .patient__title {
      width: 100%;
      text-align: center;
      padding-top: 10rem;

      h2 {
        font-size: clamp(1rem, 5vw, 4.5rem);
        font-weight: 600;
      }

      p {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        color: $light-text-color;
        margin-bottom: 8rem;
      }
    }

    .patient__info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: fit-content;
      margin: auto;

      gap: 5rem;
      padding: 2rem;

      & > div {
        flex: 1 1 400px;
      }

      .patient__image {
        height: 100%;
        max-width: 50rem;
        background-color: $light-blue-btn;
        border-radius: 22% 50% 20% 0%;
        box-shadow: 0 0 0 1.9rem $light-blue, 0 0 0 2rem #8198a083;
        margin-bottom: 2rem;

        .patient--img-file {
          aspect-ratio: 1;
          background-image: url(../images/patient/patient.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 22% 50% 20% 0%;
        }
      }

      .patient__content {
        margin-top: 2rem;
        background: $light-blue-btn;
        opacity: 0.8;
        border-radius: $border-radius-md;
        padding: 3rem 1.5rem;
        margin-left: 2rem;

        .content__title {
          display: grid;
          grid-auto-columns: 1fr;
          grid-template-columns: Repeat(auto-fill, minmax(100px, 1fr));
          grid-template-rows: 1fr;
          gap: 2rem;
          .content__title--left {
            img {
              width: 10rem;
              background: #00dabe;
              border-radius: $border-radius-md;
            }
          }
        }

        .title--right__rating {
          i {
            margin-right: 0;
            transition: 300ms;

            &:hover {
              color: #fec565;
              cursor: pointer;
            }
          }
        }

        .content__about {
          margin-top: 2rem;
        }
      }
    }
  }
}

// --------------- Media Queries ------------
@media screen and (max-width: 425px) {
  #patient__area {
    margin: 1rem 0;
    margin-top: 5rem;
    .patient__wrapper {
      .patient__title {
        padding-top: 5rem;
        p {
          margin-bottom: 0rem;
        }
      }

      .patient__info {
        .patient__image {
          display: none;
        }
      }
    }
  }
}
