#popular-search-area {
  padding: 3rem 0;

  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .popular-search__wrapper {
    h2 {
      font-size: clamp(1rem, 5vw, 4.5rem);
      font-weight: 600;
      margin-bottom: 5rem;
    }

    .popular-search__content {
      display: grid;
      grid-auto-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 8fr;
      grid-template-rows: 1fr;
      gap: 2rem;

      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // gap: 7rem;
      // flex-wrap: wrap;

      // .tab {
      //   a {
      //     display: block;
      //   }
      //   a.active {
      //     background-color: #ccc;
      //   }
      // }
    }

    .popular-search__lists {
      grid-area: 1 / 1 / 2 / 2;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-right: 2px solid $primary-color;
      width: 10rem;
      padding-right: 2rem;

      .search__list {
        margin: 1.6rem 0;
        font-size: 1.5rem;
        font-weight: 600;
        color: $light-text-color;
        transition: 500ms;

        &:nth-of-type(1) {
          color: $secondary-color;
        }

        &:hover {
          color: $secondary-color;
        }
      }
    }

    .popular-search__items {
      grid-area: 1 / 2 / 2 / 3;
      display: flex;
      flex-direction: row;
      align-items: center;

      text-align: center;
      flex-wrap: wrap;
      gap: 2rem 2rem;
      width: 100%;

      img {
        width: 4.8rem;
      }

      .box {
        width: 20rem;
        padding: 3rem;
        border-radius: $border-radius-md;
        background: linear-gradient(to top right, #fdfdfd 30%, #fff);
        box-shadow: 0.5rem 0.3rem 2rem 0.5rem $light-blue;
        transition: 500ms;
        cursor: pointer;

        h5 {
          font-size: 1.3rem;
        }

        &:hover {
          transform: translateY(-1rem);
          color: $primary-color;
          box-shadow: 0.5rem 0.3rem 2rem 0.5rem $light-blue-4;
        }
      }
    }
  }
}

// --------------- Media Queries ------------
@media screen and (max-width: 1024px) {
  #popular-search-area {
    .popular-search__wrapper {
      .popular-search__content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr;

        .popular-search__lists {
          grid-area: 1 / 1 / 2 / 2;

          flex-direction: row;
          width: 100%;
          border-right: none;
          border-bottom: 2px solid $primary-color;
        }

        .popular-search__items {
          grid-area: 2 / 1 / 3 / 2;
          justify-content: center;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #popular-search-area {
    .popular-search__wrapper {
      .popular-search__content {
        .popular-search__items {
          .box {
            &:hover {
              transform: translateX(1rem);
            }
          }
        }
      }
    }
  }
}
