#wecare-area {
  background: $light-blue;

  .wecare__wrapper {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // gap: 3rem;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1.5fr, 1fr;
    grid-template-rows: 1fr;
    gap: 2rem 2rem;

    grid-template-areas: "wecare--left wecare--right";

    .wecare--left {
      grid-area: 1 / 1 / 2 / 2;
      position: relative;

      .wecare__image {
        img {
          width: Max(60rem, 20px);
        }
      }

      .wecare__box {
        border-radius: $border-radius-md;
        background: linear-gradient(to top right, #fdfdfd 30%, #fff);
        box-shadow: 0.5rem 0.3rem 2rem 0.5rem $light-blue-btn;
        width: 30%;
        position: absolute;
        top: 15rem;
        right: 4rem;

        .box__item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .item__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            transition: 300ms;
            &:hover {
              box-shadow: inset 0.3rem 0.3rem 1rem 0.5rem $light-blue;
              cursor: pointer;
              border-radius: $border-radius-sm;
              color: $primary-color;
            }
            .item--left {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              margin-right: auto;
            }
          }
          .item__text {
            margin-right: auto;
          }

          img {
            width: Max(6rem, 20px);
            height: Max(6rem, 20px);
            border-radius: 50%;
            margin: 0.5rem;
          }
        }
      }
    }

    .wecare--right {
      grid-area: 1 / 2 / 2 / 3;
      padding: 10rem 3rem;

      h2 {
        font-size: clamp(1rem, 5vw, 4.5rem);
        font-weight: 600;
      }

      & > p {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        color: $light-text-color;
        margin: 2rem 0 5rem;
      }

      .wecare__list {
        margin-bottom: 2rem;

        .wecare__item {
          display: flex;
          flex-direction: row;
          align-items: center;

          i {
            font-size: 2.5rem;
            color: $primary-color;
          }
        }
      }
    }
  }
}
