#wecare-area {
  background: $light-blue;

  .wecare__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .wecare--left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      position: relative;
      width: Min(90%, 50rem);
      height: 80%;
      margin-right: 5rem;
      margin-top: 10rem;
      border-radius: 39% 12% 10% 10% / 54% 9% 0% 0%;
      background-color: $light-blue-btn;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .wecare__image {
        height: 60rem;

        img {
          height: 100%;
          object-fit: cover;
          padding-top: 5rem;
        }
      }

      .wecare__box {
        border-radius: $border-radius-md;
        background: linear-gradient(to top right, #fdfdfd 30%, #fff);
        box-shadow: 0.5rem 0.3rem 2rem 0.5rem $light-blue-btn;
        width: 45%;
        min-width: 15rem;
        position: absolute;
        top: 6rem;
        right: -15rem;
        margin-right: 5rem;

        .box__item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .item__wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            transition: 300ms;
            &:hover {
              box-shadow: inset 0.3rem 0.3rem 1rem 0.5rem $light-blue;
              cursor: pointer;
              border-radius: $border-radius-sm;
              color: $primary-color;
            }
            .item--left {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              margin-right: auto;
            }
          }
          .item__text {
            margin-right: auto;
          }

          img {
            width: Max(6rem, 20px);
            height: Max(6rem, 20px);
            border-radius: 50%;
            margin: 0.5rem;
          }
        }
      }
    }

    .wecare--right {
      padding: 10rem 3rem;
      justify-self: end;
      margin-left: 8rem;

      h2 {
        font-size: clamp(1rem, 5vw, 4.5rem);
        font-weight: 600;
      }

      & > p {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
        color: $light-text-color;
        margin: 2rem 0 5rem;
      }

      .wecare__list {
        margin-bottom: 2rem;

        .wecare__item {
          display: flex;
          flex-direction: row;
          align-items: center;

          i {
            font-size: 2.5rem;
            color: $primary-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #wecare-area {
    .wecare__wrapper {
      .wecare__image {
        display: none;
      }
      .wecare__box {
        display: none;
      }

      .wecare--right {
        justify-self: center;
        min-width: 30rem;
        padding: 0;
        padding-bottom: 2rem;
        margin-left: 0;

        .wecare__btn {
          padding: 0.5rem 1rem;
          display: flex;
          justify-content: center;
          width: Min (100%, 5rem);
        }
      }
    }
  }
}
